<div class="contenedor">
  <div class="contenedorfoto">
    <form action="">
      <div class="foto">

      </div>
    </form>
  </div>
  <div style="text-align:center;padding:10px;">
    <div>
        <div class="contenedor-formulario">
            <header>
                <h1>Datos de: </h1>
            </header>
            <form>
                <input class="campo-texto" id="nombre" type="text" name="nombre" placeholder="Nombre"/>
                <input class="campo-texto" id="apellido" type="text" name="apellido" placeholder="Apellido"/>
                <input class="campo-texto" id="usuario" type="text" name="mote" placeholder="Nombre de usuario"/>
                <input class="campo-texto" id="email" type="email" name="email" placeholder="Su email"/>
                <input class="campo-texto" id="password" type="password" name="password" placeholder="Contraseña"/>
                <input type="submit" value="Enviar" class="submit" />
            </form>
        </div>
    </div>
    <div class="clases">

    </div>
</div>
</div>
