<div id="Usuario">
    <!-- <img id="ProPic" src="https://img-9gag-fun.9cache.com/photo/an4P26q_460s.jpg"alt="FotoHumanoNormal"> -->
    <img id="ProPic" src="Https://pbs.twimg.com/ext_tw_video_thumb/1620310062433435648/pu/img/xlFGPbn8IyghBE90.jpg:large"alt="FotoHumanoNormal">
    <h1> Nick </h1>
    <ul> Nombre Apellido </ul>
    <ul> Rol </ul>
</div>
<div id="InfoUser">
    <ul> Nombre  </ul>
    <li> Apellidos </li>
    <li> Email </li>
    <li> Centro </li>
    <li> Contraseña </li>
</div>
<div id="Ranking">
    <li> Posicion 1 </li>
    <li> Posicion </li>
    <li> Posicion </li>
    <li> Posicion </li>
    <li> Posicion </li>
    <li> Posicion 6</li>
</div>




<ul>
    <li>
        <p>Hola</p>
        algo
        <p>Adios</p>

    </li>

</ul>
