#izquierda {
  float: left;
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-left: 300px;
  margin-top: 250px;
}

h1 {
  text-align: center;
  color: rgb(20, 20, 238);
  font-size: 50px;
}

p {
  font-size: 30px;
}

#error {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 15px;
  color: rgb(135, 16, 16);
  background-color: rgba(221, 62, 62, 0.686);
  border-radius: 10px;
}

#derecha {
  float: right;
  margin-right: 350px;
  margin-top: 250px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 20px;
  background-color: white;
  width: 475px;
  border: 3px outset rgb(173, 171, 171);
}

input {
  margin-top: 20px;
  padding-left: 10px;
  height: 50px;
  width: 450px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 15px;
  border-radius: 10px;
  border: 2px solid gainsboro;
}

#registro {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 15px;
  margin-top: 20px;
  margin-left: 80px;
  margin-bottom: 20px;
  height: 50px;
  width: 316px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: rgb(23, 168, 23);
  color: white;
}

#login {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 80px;
  height: 50px;
  width: 316px;
  border-radius: 10px;
  border: none;
  background-color: rgb(33, 33, 245);
  color: white;
  cursor: pointer;
}