<div id="registro">
    <button id="botonProfesor" routerLink="../profesores" routerLinkActive="active"><b>Profesor</b></button>
    <button id="botonAlumno" routerLink="../alumnos" routerLinkActive="active"><b>Alumno</b></button>
    <form [formGroup]="registerForm">
        <hr>
        <div>
            <input formControlName="mote" id="mote" type="text" onkeydown="return /[a-z,0-9,_]/i.test(event.key)" placeholder="Ponga su mote">
            <p id="error" *ngIf="this.registerForm.controls.mote.hasError('required')">Campo necesario</p>
            <input formControlName="correo" id="email" type="email" placeholder="Ponga su correo">
            <p id="error" *ngIf="this.registerForm.controls.correo.hasError('required')">Campo necesario</p>
            <p id="error" *ngIf="this.registerForm.controls.correo.hasError('email')">El campo no cumple la validación</p>
            <input formControlName="password" id="contraseña" type="password" placeholder="Ponga su contraseña">
            <p id="error" *ngIf="this.registerForm.controls.password.hasError('required')">Campo necesario</p>
            <input formControlName="passwordRepe" id="contraseñaRepe" type="password"placeholder="Ponga de nuevo su contraseña">
            <p id="error" *ngIf="this.registerForm.controls.passwordRepe.hasError('required')">Campo necesario</p>
            <input formControlName="nombre" id="nombre" type="text" placeholder="Ponga su nombre" name="Nombre">
            <p id="error" *ngIf="this.registerForm.controls.nombre.hasError('required')">Campo necesario</p>
            <input formControlName="apellidos" id="apellidos" type="text" placeholder="Ponga sus apellidos">
            <p id="error" *ngIf="this.registerForm.controls.apellidos.hasError('required')">Campo necesario</p>
            <p id="tituloFecha">Ponga su fecha de nacimiento:</p>
            <input formControlName="date" id="fecha" type="date" placeholder="Ponga su fecha de nacimiento">
            <p id="error" *ngIf="this.registerForm.controls.date.hasError('required')">Campo necesario</p>
            <button [disabled]="!registerForm.valid" (click)="addAlumno()" id="registrar" title="Registrar Profesor" routerLink="../home" routerLinkActive="active"><b>RegistrarAlumno</b></button>
            <hr>
            <button id="volver" title="Volver" routerLink=""><b>Volver</b></button>
        </div>
    </form>
</div>
