#registro {
    text-align: center;
    border: 3px outset rgb(173, 171, 171);
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 20px;
    background-color: white;
    width: 475px;
    margin: 0 auto;
}

#botonProfesor {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    height: 40px;
    width: 150px;
    margin-top: 20px;
    margin-right: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: grey;
    color: white;
}

#botonAlumno {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    height: 40px;
    width: 150px;
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: grey;
    color: white;
}

#botonProfesor:hover {
    color: black;
    background-color: gainsboro;
}

#botonAlumno:hover {
    color: black;
    background-color: gainsboro;
}

#mote,
#email,
#contraseña,
#contraseñaRepe,
#nombre,
#apellidos,
#centro {
    margin-top: 20px;
    padding-left: 10px;
    height: 50px;
    width: 450px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    border-radius: 10px;
    border: 2px solid gainsboro;
}

#error {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: rgb(135, 16, 16);
    background-color: rgba(221, 62, 62, 0.686);
    border-radius: 10px;

}

#registrar {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 50px;
    width: 316px;
    border-radius: 10px;
    border: none;
    background-color: rgb(33, 33, 245);
    color: white;
    cursor: pointer;
}

#volver {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 50px;
    width: 316px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: rgb(23, 168, 23);
    color: white;
}